
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 70px; /* for fixed navbar spacing */
}

.section {
  padding: 80px 0;
}

.navbar {
  background: linear-gradient(135deg, #eef4ff, #dbe9ff);
}

.carousel-item {
  height: 80vh; 
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.social-card img {
  height: 250px;
  object-fit: cover;
}

.accordion-button {
  color: #0d6efd !important;
  font-weight: bold;
  font-style: italic;
  font-size: medium;
}
